<!--<div flex-xs flex-gt-xs="50" layout="column">
	<md-card ng-repeat="project in $ctrl.projects">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{project.title}}</span>
				<span class="md-subhead">{{project.description}}</span>
			</md-card-title-text>
			<md-card-title-media>
				<div class="md-media-sm card-media"></div>
			</md-card-title-media>
		</md-card-title>
		<md-card-actions layout="row" layout-align="end center">
			<md-button href="https://hackdash.org/projects/{{project._id}}" target="_blank">More Information</md-button>
			
		</md-card-actions>
	</md-card>
</div>-->

<md-grid-list
        md-cols="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="2"
        md-row-height-gt-md="1:1" md-row-height="2:1.3"
        md-gutter="8px" md-gutter-gt-sm="4px" layout-padding="4px">
	<md-grid-tile ng-repeat="project in $ctrl.projects" layout-align="stretch stretch" >
	<md-card flex style="height: 90%">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{project.title}}</span>
				<span class="md-subhead">{{project.description}}</span>
			</md-card-title-text>
			<md-card-title-media>
				<div class="md-media-sm card-media"></div>
			</md-card-title-media>
		</md-card-title>
		<md-card-actions layout="row" layout-align="end center">
			<md-button href="https://hackdash.org/projects/{{project._id}}" target="_blank">More Information</md-button>
			
		</md-card-actions>
	</md-card>
</md-grid-list>